* {
  margin: 0px;
  padding: 0px;

}

main {
  display: flex;
  flex-flow: wrap;
  justify-content: center;
}

img {
  height: 400px;
  width: 400px;
  object-fit: cover;
  margin: 10px;
}

h1 {
  background-color: #eb716e;
  font-family: 'Swanky and Moo Moo', cursive;
  padding-left: 6%;
}
